# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/

# Environment
.env

# Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Logs
*.log

# IDE
.vscode/
.idea/

# Compiled binaries
bin/
